{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>
      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <p>{{ message.text }}</p>
        {% if message.user_id != g.user.id %}
          {% if message in g.user.likes %}
            <form action="/messages/unlike/{{ message.id }}" method="POST" class="d-inline">
              {{ g.csrf_form.hidden_tag() }}
              <button class="like-button btn btn-link bg-transparent border-0 p-0">
                <i class="bi bi-hand-thumbs-up-fill"></i>
              </button>
            </form>
          {% else %}
            <form action="/messages/like/{{ message.id }}" method="POST" class="d-inline">
              {{ g.csrf_form.hidden_tag() }}
              <button class="like-button btn btn-link bg-transparent border-0 p-0">
                <i class="bi bi-hand-thumbs-up"></i>
              </button>
            </form>
          {% endif %}
        {% else %}
          <i class="bi bi-hand-thumbs-up"></i>
        {% endif %}
        <span>{{ message.likers|length if message.likers else 0 }}</span>
        <span class="text-muted p-3">
          {{ message.timestamp.strftime('%d %B %Y') }}
        </span>
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}